body{
    background: #FFFFFF;
    font-family: 'Kalam', cursive;
    color: #0E0E0E;
    margin: 0;
}

header{
    height: 3.788rem;
}
.header-menu {    
    font-style: normal;
    line-height: 1.25rem;
    text-align: left;
    width: 12.5rem;
    list-style-type: none;
    margin-top: 1.28rem;
    display: block;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.header-menu li{
    width: 6.5rem;
    height: 1.25rem;
    display: inline;
    font-size: 1.25rem;
}
.logo{
    width: 14rem;
    height: 2.141rem;
    padding-top: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.logo-title{
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    margin-top: 0.55rem;
    left: 0;
}
.img-main{
    width: 100% !important;
    height: 100%;
    background-image: url("./images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 1rem;
}
.hero-text{
    width: 70%;
    padding-left: 20px;
    padding-top: 30%;
}
.date-hero{
    font-style: normal;
    font-weight: 400;
    font-size: 15.9997px;
    line-height: 20px;
    color: snow;
}

.blog-title-hero{
    font-style: normal;
    font-weight: 700;
    font-size: xx-large;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0;
}
.preview-hero{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: large;
    line-height: 1.4rem;
    color: #FFFFFF;
}
.blog-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
}
.blog-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.4rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.center{
    text-align: center;
}

.card{
    width: 19.313rem;
    height: 24.563rem;
    font-family: 'Source Sans Pro';
    text-align:left;
}

.card-img{
    width: 19.313rem;
    height: 14.5rem;
    border-radius: 0.3rem;
    background-size: cover;
}

.date-card{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #000000;
}

.card-text, .demo-link{
    margin-bottom: 0;
    padding-bottom: 0;
}

.demo-link{
    font-size: 0.8rem;
    color: hotpink;
}

footer{
    padding-left: 1.2rem;
    background-color: navy;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
    color: snow;
}

.footer-link{
    color: snow;
}
.mobile-icon{
    display: none;
    width: 5.21rem;
    height: 5.21rem;
}
/*blog details*/
.article-main{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.8rem;
    margin: 0 1rem;
}
.article-dtl-image{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url('./images/content-blog.jpg');
    border-radius: 3px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 0.8rem;
}
.main-post-date{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9997px;
    margin-bottom: 0;
}
.article-main h2{
    margin-bottom: 0;;
}
.fontfam{
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
}
.lefta{
    text-align: left;
}
.para-class{
    margin: 0 5rem;
    word-spacing: 0.5rem;
}
.article-h3{
    font-family: 'Source Sans Pro';
    font-size: x-large;
    margin-bottom: 0;
}
section h2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 108.2%;
    letter-spacing: -0.03em;
}
.body-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}
.recent-post{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 108.2%;
    text-align: center;
    color: #141414;
}

.article-card{
    width: 19.313rem;
    height: 24.563rem;
}
.article-cardbody{
    width: 309px;
    height: 18px;
}
.date06{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #000000;
}
.article-card-head{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 108.2%;
}

.article-card-body{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    color: #505050;
}

.dtl-main{
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

.article-author{
    font-size: 0.8rem;
    color: purple;
    padding-bottom: 0.5rem;
}

.more-article{
    list-style-type: none;
    display: inline-block;
    text-align: left;
}
.avatar-img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.aboutme-header{
    margin: 0 5rem;
    display: flex;
    gap: 1rem;
}

.intro{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.intro-section{
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.short-intro{
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
}
.strip{
    margin-top: 2rem;
    text-align: center;
}
.menu-mobile{
    width: 50px;
    height: 50px;
}

@media (min-width:400px){
    .para-class{
        margin: 0 0.12rem;
    }
    .aboutme-header{
        flex-direction: row;
    }
}  

@media(max-width:600px){
    .header-menu{
        display: none;
    }
    .mobile-icon{
        display: inline-block;
        margin-top: 0.4rem;
    }
    .aboutme-header{
        flex-direction: column;
    }
}